@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Tour


<!--Cards that contain schedule info-->

    <div class="card card-outline-dark col-lg-8">
        <div class="row">
            <!--Small Body of Text for the Time-->
            <div class="card-body border border-dark">
                <h3 class="text-center">@Model.AppointmentDate.ToString("MMMM dd, yyyy")</h3>
                <h2 class="text-center"><b>@Model.AppointmentDate.ToString("h:mm tt")</b></h2>
            </div>
            <div class="border border-dark col-lg-4">
                <!--List with all the attributes from the database-->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item "> Tour Type: @Model.TourType</li>
                    <li class="list-group-item ">Group Size Limit: @Model.GroupSize people</li>
                    <li class="list-group-item ">Description: @Model.Description</li>
                </ul>

                <form method="post" asp-action="DateCardSummary" asp-controller="home">
                    <input type="hidden" asp-for="AppointmentDate" name="AppointmentDate" value="@Model.AppointmentDate"/>
                    <input type="hidden" asp-for="TourId" name="TourId" value="@Model.TourId" />
                    <button type="submit" class="btn btn-info col-12">Schedule</button>
                </form>

            </div>
        </div>
    </div>
    <br />
    <br />
